<% provide(:title, 'Utilisation - Cultivate') %>

<% panel_num = 1 %>

<%= render 'layouts/month_view_panel' %>

<h1>Utilisation - Cultivate</h1>

<div class="panel-group" id="accordion">

  <% @user.each do |user| %>

    <%= render 'utilisation_breakdown_panel', :user => user, :panel_num => panel_num %>

    <% panel_num = panel_num + 1 %>

  <% end %>
  
</div>

<div style="clear:both"></div>