<table class="table table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Hours</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @planned_hours.each do |planned_hour| %>

      <% if planned_hour.client_id == this_client %>
        <tr>
          <td><%= planned_hour.user.name %></td>
          <td><%= planned_hour.number %></td>
          <td><%= link_to 'Delete', planned_hour, method: :delete, data: { confirm: 'Are you sure?' }, :remote => true %></td>
        </tr>
      <% end %>
      
    <% end %>

  </tbody>
</table>