#month_view {
	text-align: center;
	float: right;
	margin-top: 20px;
	p {
	font-size: 0.9em;
	padding-top: 10px;
	}
	h3 {
	padding-bottom: 7px;
	}
}

/* new hours form */

.form-inline{
	font-size: 1.1em;

	select{
		height: 27px;
	}

	#planned_hour_number{
		width: 60px;
		height: 27px;
	}

	#client_fee_fee{
		width: 120px;
		height: 27px;
	}


}