#month_view {
	text-align: center;
	float: right;
	p {
	font-size: 0.9em;
	}
	h3 {
	}
}

/* new hours form */

.form-inline{
	font-size: 1.1em;

	select{
		height: 27px;
	}

	#planned_hour_number{
		width: 60px;
		height: 27px;
	}


}