#month_view {
	text-align: center;
	float: right;
	margin-top: 20px;
	p {
	font-size: 0.9em;
	padding-top: 10px;
	}
	h3 {
	padding-bottom: 7px;
	}
}

#month_view_buttons{
	width:150px;
}

/* new hours form */

.form-inline{
	font-size: 1.1em;
	margin-left: 15px;
	margin-bottom: 10px;

	select{
		height: 27px;
	}

	#planned_hour_number{
		width: 60px;
		height: 27px;
	}

	#client_fee_fee{
		width: 120px;
		height: 27px;
	}

	#holiday_days_off{
		width: 60px;
		height: 27px;
	}

}


#planned_hours_breakdown_table td{	
	padding-top:10px;
	vertical-align:middle;
}

#copy_last_month_button{
	padding-right:150px;
}