#accordion{
	width: 630px;
	float:left;
	margin-top: 30px;

	.panel-heading{
		padding-bottom: 0px;
		padding-top: 22px;
		height: 62px;
	}
}

.utilisation_summary{
	margin-top: 25px;
}

.team_utilisation_summary{
	float: right;
	width: 250px;
}

.progress{
	width:400px;
	float:right;
}
