<footer class="footer">
  <small>
    ResourcingApp by Rob Green
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://www.propellernet.co.uk/">Propellernet</a></li>
    </ul>
  </nav>
</footer>